<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content id="contentbd">
  <ion-grid>
    <ion-row>
      <ion-col size=12 class="wellcome">
        Welcome
      </ion-col>
      <ion-col class="greeting">
        We welcome you to the best way to save your notes
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="form-group" size="12" size-md="8" offset-md="2"  id="loginFormulary">
        <ion-buttons style="padding-bottom:20px;padding-top: 20px">
          <ion-button fill="solid" color="primary">Sign in</ion-button>
          <ion-button fill="solid" color="light">Sign up</ion-button>
        </ion-buttons>
        <ion-label color="light" position="floating">
          Username
        </ion-label>
        <ion-input  class="UserInputLogIn" id="inpts"></ion-input>
        <ion-label color="light" position="floating">
          Password
        </ion-label>
        <ion-input id="inpts"></ion-input>  
          <ion-button style="padding-top: 20px; height: 65px;" type="submit"  fill="solid" expand="block" color="primary">
            LOGIN
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>