<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size=12 class="welcome">
        Welcome
      </ion-col>
      <ion-col class="greeting">
        We welcome you to the best way to save your notes
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-buttons style="padding-bottom:20px;padding-top: 20px">
          <ion-button fill="solid" [color]="isLoginView ? 'primary' : 'light'" (click)="setViewLogin()">
            Log in
          </ion-button>
          <ion-button fill="solid" [color]="isLoginView ? 'light' : 'primary'" (click)="setViewSignup()">
            Sign up
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>



    <ion-row *ngIf="isLoginView" style="display: flex;">
      <ion-col size="12" size-md="8" offset-md="2">
        <form [formGroup]="logInForm">
          <ion-item>
            <ion-label position="floating">
              Email
            </ion-label>
            <ion-input formControlName="emailLogInput"></ion-input>
            <span *ngIf="formErrors.emailLogInput" style="background: black; color: white;">{{formErrors.emailLogInput}} heLLo world</span>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              Password
            </ion-label>
            <ion-input type="Password" formControlName="passwordLogInput"></ion-input>
          </ion-item>

          <ion-button [disabled]="logInForm.invalid" (click)="onSubmitLoginButton()"
            style="padding-top: 20px; height: 65px;" type="submit" fill="solid" expand="block" color="primary">
            LOGIN
          </ion-button>
        </form>
      </ion-col>
    </ion-row>



    <ion-row *ngIf="!isLoginView">
      <ion-col size="12" size-md="8" offset-md="2">
        <form [formGroup]="signUpForm">
          <ion-item>
            <ion-label position="floating">
              First name
            </ion-label>
            <ion-input formControlName="Firstname"></ion-input>
            <span>{{formErrors.Firstname}}</span>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              Last name
            </ion-label>
            <ion-input formControlName="Lastname"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">
              Email
            </ion-label>
            <ion-input formControlName="Email"></ion-input>
          </ion-item>
          <span></span>

          <ion-item>
            <ion-label position="floating">
              Password
            </ion-label>
            <ion-input formControlName="Password"></ion-input>
          </ion-item>

          <ion-button [disabled]="signUpForm.invalid" (click)="onSubmitSignupButton()"
            style="padding-top: 20px; height: 65px;" type="submit" fill="solid" expand="block" color="primary">
            SIGN UP
          </ion-button>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>