ion-content{
    --background: #fff url('../../assets/images/leaf.jpg') no-repeat center center / cover
}
.wellcome{
      text-align: center;
      font-size: 51px;
      padding-top: 30px;
      color: white;
}

.greeting{
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    color: white;
}