<ion-list>
  <ion-list-header>Settings</ion-list-header>
  <ion-item>
    <div scrollY="true" style="display: flex; flex-wrap: no-wrap; overflow: auto;">
      <ion-col>
        <ion-checkbox checked color="primary"></ion-checkbox>
      </ion-col>
      <ion-col>
        <ion-checkbox checked color="secondary"></ion-checkbox>
      </ion-col>
      <ion-col>
        <ion-checkbox checked color="primary"></ion-checkbox>
      </ion-col>
      <ion-col>
        <ion-checkbox checked color="secondary"></ion-checkbox>
      </ion-col>
      <ion-col>
        <ion-checkbox checked color="secondary"></ion-checkbox>
      </ion-col>
    </div>
  </ion-item>
  <ion-item>
    item 1
  </ion-item>
  <ion-item>
    item 2
  </ion-item>
  <ion-item>
    item 3
  </ion-item>
  <ion-button (click)="deleteNote()" expand="block"><ion-icon name="trash-outline"></ion-icon> Delete </ion-button>
</ion-list>