<ion-header>
  <ion-toolbar>
    <ion-title>
      My notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header color="primary" style="
          display: flex;
          flex-direction: column;
          width: 100% !important;
          margin: 0 !important;
        ">
            <ion-card-title>
              Note
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea rows="9"></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-toolbar>
                <ion-buttons class="ion-text-capitalize" slot="secondary">
                  <ion-button fill="solid" color="primary">Done!!
                    <ion-icon slot="start" name="add"></ion-icon>
                  </ion-button>
                  <ion-button fill="solid" color="danger">Cancel
                    <ion-icon slot="start" name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-list>
    <ion-item *ngFor="let note of notesList">
      <ion-label>{{ note.title }}</ion-label>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>